.App {
    display: flex;
}

.countries {
    width: 30%;
    height: 80vh;
    margin: 20px;
    padding-top: 10px;
    overflow: auto;
    list-style: none;
    border: 1px solid #ddd;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.20);
}
.countries li {
    cursor: pointer;
    margin-bottom: 5px;
}

.about {
    width: 60%;
    height: 80vh;
    margin-top: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.20);
    padding: 10px;
    overflow: auto;
    background-color: #f5f5f5;
}

.about > p {
    text-align: center;
}

.country img {
    width: 300px;
}
